body{
    margin: 0 8px;
}

.grid__card{
    display: grid;
    grid-template-columns: repeat( 3 , minmax(250px , 350px));
   justify-content: center;
   align-content: center;
   height: 100vh;
}


.grid__card-1{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
}

.grid__card-2{
    background-color: hsl(184, 100%, 22%);
}

.grid__card-3{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
}


.card__img{
    margin-bottom: 5px;
}

.card__details{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: Thin 100;
    font-size: 15px;
    line-height: 26px;
}

h2{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 35px;
}

p{
    margin-bottom: 123px;
}

.btn{
    padding: 15px  40px;
    border-radius: 30px;
    border-style: none;
    font-family: 'Lexend Deca', sans-serif;
    transition: all .2s;
}

.btn:hover{
    background-color: transparent;
    color: white;
    border: 1px solid;
}


.text-color-1{
    color: hsl(31, 77%, 52%);

}

.text-color-2{
    color: hsl(184, 100%, 22%);
}

.text-color-3{
   color: hsl(179, 100%, 13%);
}

.grid__pad{
    padding: 51px;
}

@media screen and (max-width:765px) {
    .grid__card{
        grid-template-columns: auto;
        height: auto;
       padding: 1rem 0;
    }

    p{
        margin-bottom: 30px;
    }

    .grid__card-1{
        border-top-left-radius:10px;
        border-top-right-radius: 10px;    border-bottom-left-radius: 0px;
    }
    
    .grid__card-3{
        border-bottom-left-radius:10px;
        border-top-right-radius: 0px;    border-bottom-right-radius: 10px;
    }
}
